<main class="container">
  <h2>Carro</h2>
  <div class="card">
    <div class="card-body">
      <div class="form-group">
        <label for="txtMarca">Marca</label>
        <input type="text"
               [(ngModel)]="carro.marca"
               class="form-control"
               id="txtMarca">
      </div>
      <div class="form-group">
        <label for="txtModelo">Modelo</label>
        <input type="text"
               [(ngModel)]="carro.modelo"
               class="form-control"
               id="txtModelo">
      </div>
      <div class="form-group">
        <label for="txtAno">Ano</label>
        <input type="number"
               [(ngModel)]="carro.ano"
               class="form-control"
               id="txtAno">
      </div>
      <div class="form-group">
        <label for="selectCliente">Cliente</label>
        <select [(ngModel)]="carro.cliente.id" class="form-control" id="selectCliente">
          <option *ngFor="let cliente of clientes" [value]="cliente.id">{{cliente.nome}}</option>
        </select>
      </div>
    </div>
    <button (click)="salvar()" class="btn btn-primary">Salvar</button>
  </div>
</main>