<main class="container">
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <label for="txtNome">Nome</label>
                <input type="text"
                       [(ngModel)]="funcionario.nome"
                       class="form-control"
                       id="txtNome"
                       placeholder="Digite o nome do funcionário">
            </div>
            <div class="form-group">
                <label for="txtPosicao">Posição</label>
                <input type="text"
                       [(ngModel)]="funcionario.posicao"
                       class="form-control"
                       id="txtPosicao"
                       placeholder="Digite a posição do funcionário">
            </div>
            <div class="form-group">
                <label for="selectConcessionaria">Concessionária</label>
                <select [(ngModel)]="funcionario.concessionaria"
                        class="form-control"
                        id="selectConcessionaria"
                        name="concessionaria">
                    <option [ngValue]="null">Selecione...</option>
                    <option *ngFor="let c of listaConcessionarias" [ngValue]="c">
                        {{c.nome}}
                    </option>
                </select>
            </div>
        </div>
        <div class="card-footer">
            <button (click)="onSalvar()" 
                    class="btn btn-primary">Salvar</button>
        </div>
    </div>
</main>