<main class="container">
    <h2>Clientes</h2>
    <table class="table">
        <a routerlink="/cliente/novo" class="btn btn-primary">Novo</a>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Senha</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let umCliente of listaClientes">
                <td>{{umCliente.nome}}</td>
                <td>{{umCliente.email}}</td>
                <td>{{umCliente.senha}}</td>

            </tr>
        </tbody>


    </table>
</main>