<main class="container">
    <h2>Clientes</h2>
    
    <a (click)="novo()" class="btn btn-primary">Novo</a>
  
    <table class="table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Senha</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let umCliente of listaClientes">
          <td>{{umCliente.nome}}</td>
          <td>{{umCliente.email}}</td>
          <td>{{umCliente.senha}}</td>
  
          <td>
            <a (click)="alterar(umCliente)" class="btn btn-secondary">Alterar</a>
            <!-- botão excluir -->
            <a (click)="abrirConfirmacao(umCliente)" class="btn btn-danger">Excluir</a>
            <!-- botão excluir -->
          </td>
        </tr>
      </tbody>
    </table>
  </main>

  <div class="modal fade" #myModal tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Excluir cliente</h5>
            </div>
            <div class="modal-body">
            Confirma a exclusão do cliente
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="fecharConfirmacao()">Cancelar</button>
            <button type="button" class="btn btn-primary" (click)="confirmarExclusao()">Sim</button>
            </div>
        </div>
    </div>
</div>
  