<main class="container">
    <h2>Funcionarios</h2>
    
    <a (click)="novo()" class="btn btn-primary">Novo</a>
  
    <table class="table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Posicao</th>
          <th>concessionaria</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let umFuncionario of listaFuncionarios">
          <td>{{umFuncionario.nome}}</td>
          <td>{{umFuncionario.posicao}}</td>
          <td>{{umFuncionario.concessionaria}}</td>
  
          <td>
            <a (click)="alterar(umFuncionario)" class="btn btn-secondary">Alterar</a>
            <!-- botão excluir -->
            <a (click)="abrirConfirmacao(umFuncionario)" class="btn btn-danger">Excluir</a>
            <!-- botão excluir -->
          </td>
        </tr>
      </tbody>
    </table>
  </main>

  <div class="modal fade" #myModal tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Excluir funcionario</h5>
            </div>
            <div class="modal-body">
            Confirma a exclusão do funcionario?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="fecharConfirmacao()">Cancelar</button>
            <button type="button" class="btn btn-primary" (click)="confirmarExclusao()">Sim</button>
            </div>
        </div>
    </div>
</div>
  