<!-- navbar.component.html (ou no app.component.html se for global) -->
<nav class="navbar">
  <div class="navbar-container">
    <span class="navbar-brand">Navbar</span>
    <ul class="navbar-links">
    <li><a [routerLink]="['/']">Home</a></li>
    <li><a [routerLink]="['/clientes']">Clientes</a></li>
    <li><a [routerLink]="['/carros']">Carros</a></li>
    <li><a [routerLink]="['/funcionarios']">Funcionários</a></li>
    <li><a [routerLink]="['/concessionarias']">Concessionárias</a></li>
    </ul>

  </div>
</nav>

<!-- conteúdo principal 
<div class="container">
  <h1>Sistema Aluguel de Carros</h1>
  <p>Escolha para onde deseja ir:</p>
  
  <div class="card">
  <button routerLink="/clientes">Clientes</button>
  <button routerLink="/funcionarios">Funcionários</button>
  <button routerLink="/carros">Carros</button>
  <button routerLink="/concessionarias">Concessionárias</button>
</div>

</div>
-->